<header
  class="flex justify-center items-center py-5 w-full xl:w-[1120px] mx-auto px-4"
>
  <nav class="flex gap-x-4 w-full flex-col md:flex-row">
    <div class="flex w-full justify-between">
      <img
        class="rounded-full size-12 justify-start"
        src="https://scontent.fbog4-2.fna.fbcdn.net/v/t39.30808-6/380694051_6633031340100024_958333169505074746_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=efb6e6&_nc_eui2=AeGm0ysPnkFE-O0wW0_nCrB2cuLImMumKxVy4siYy6YrFQMFVVJrWXnkSxdhTc6uQhl-NFzjDsqzOF9LWO6jjGnv&_nc_ohc=UmC4OSNxW8YAX_csP41&_nc_ht=scontent.fbog4-2.fna&oh=00_AfDWj2HdRRCrk0-3KZKRxB_u7qkB0CFM5v-hwaI834no0Q&oe=65A0A4BF"
        alt="Jhann photo"
      />
      <button
        data-collapse-toggle="navbar-menu"
        type="button"
        class="items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
        aria-controls="navbar-menu"
        aria-expanded="false"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="w-5 h-5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 17 14"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15"></path>
        </svg>
      </button>
    </div>
    <div class="hidden w-full md:block md:w-auto" id="navbar-menu">
      <ul
        class="flex flex-col font-medium p-4 md:p-0 mt-4 rounded-lg md:space-x-8 md:flex-row md:mt-0 text-center"
      >
        <li>
          <a
            href="/"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Inicio</a
          >
        </li>
        <li>
          <a
            href="#experiencia"
            rel="next"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Experiencia</a
          >
        </li>
        <li>
          <a
            href="#proyectos"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Proyectos</a
          >
        </li>
        <li>
          <a
            href="#sobre-mi"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 w-max"
            >Sobre mí</a
          >
        </li>
        <li>
          <a
            href="#contacto"
            class="block py-2 px-3 md:p-0 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700"
            >Contacto</a
          >
        </li>
        <!-- <nav class="flex flex-row gap-x-10 opacity-90 md:text-xs flex-wrap"> -->
      </ul>
    </div>
  </nav>
</header>
